certificadora-ged/src/META-INF/wsdl/siaabh.cruzeirodosul.edu.br/wscertificacao/ListDocuments.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://certificacao.webservices.cruzeirodosul.edu.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://certificacao.webservices.cruzeirodosul.edu.br/" name="ListDocuments">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://certificacao.webservices.cruzeirodosul.edu.br/" schemaLocation="https://siaabh.cruzeirodosul.edu.br:443/wscertificacao/ListDocuments?xsd=1" />
        </xsd:schema>
    </types>
    <message name="hello">
        <part name="name" type="xsd:string" />
    </message>
    <message name="helloResponse">
        <part name="return" type="xsd:string" />
    </message>
    <message name="getLstEmpresa" />
    <message name="getLstEmpresaResponse">
        <part name="return" type="tns:empresasConsultaModelArray" />
    </message>
    <message name="getLstDocumentosEntregues">
        <part name="codigoEmpresa" type="xsd:int" />
        <part name="nomeUsuario" type="xsd:string" />
        <part name="dataInicio" type="xsd:dateTime" />
        <part name="dataFinal" type="xsd:dateTime" />
    </message>
    <message name="getLstDocumentosEntreguesResponse">
        <part name="return" type="tns:documentoEntregueModelArray" />
    </message>
    <message name="updateDocumento">
        <part name="documentoEntregue" type="tns:documentoEntregueModel" />
    </message>
    <message name="updateDocumentoResponse">
        <part name="return" type="xsd:boolean" />
    </message>
    <portType name="ListDocumentsImpl">
        <operation name="hello">
            <input wsam:Action="http://certificacao.webservices.cruzeirodosul.edu.br/ListDocumentsImpl/helloRequest" message="tns:hello" />
            <output wsam:Action="http://certificacao.webservices.cruzeirodosul.edu.br/ListDocumentsImpl/helloResponse" message="tns:helloResponse" />
        </operation>
        <operation name="getLstEmpresa">
            <input wsam:Action="http://certificacao.webservices.cruzeirodosul.edu.br/ListDocumentsImpl/getLstEmpresaRequest" message="tns:getLstEmpresa" />
            <output wsam:Action="http://certificacao.webservices.cruzeirodosul.edu.br/ListDocumentsImpl/getLstEmpresaResponse" message="tns:getLstEmpresaResponse" />
        </operation>
        <operation name="getLstDocumentosEntregues" parameterOrder="codigoEmpresa nomeUsuario dataInicio dataFinal">
            <input wsam:Action="http://certificacao.webservices.cruzeirodosul.edu.br/ListDocumentsImpl/getLstDocumentosEntreguesRequest" message="tns:getLstDocumentosEntregues" />
            <output wsam:Action="http://certificacao.webservices.cruzeirodosul.edu.br/ListDocumentsImpl/getLstDocumentosEntreguesResponse" message="tns:getLstDocumentosEntreguesResponse" />
        </operation>
        <operation name="updateDocumento">
            <input wsam:Action="http://certificacao.webservices.cruzeirodosul.edu.br/ListDocumentsImpl/updateDocumentoRequest" message="tns:updateDocumento" />
            <output wsam:Action="http://certificacao.webservices.cruzeirodosul.edu.br/ListDocumentsImpl/updateDocumentoResponse" message="tns:updateDocumentoResponse" />
        </operation>
    </portType>
    <binding name="ListDocumentsPortBinding" type="tns:ListDocumentsImpl">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
        <operation name="hello">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://certificacao.webservices.cruzeirodosul.edu.br/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://certificacao.webservices.cruzeirodosul.edu.br/" />
            </output>
        </operation>
        <operation name="getLstEmpresa">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://certificacao.webservices.cruzeirodosul.edu.br/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://certificacao.webservices.cruzeirodosul.edu.br/" />
            </output>
        </operation>
        <operation name="getLstDocumentosEntregues">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://certificacao.webservices.cruzeirodosul.edu.br/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://certificacao.webservices.cruzeirodosul.edu.br/" />
            </output>
        </operation>
        <operation name="updateDocumento">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://certificacao.webservices.cruzeirodosul.edu.br/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://certificacao.webservices.cruzeirodosul.edu.br/" />
            </output>
        </operation>
    </binding>
    <service name="ListDocuments">
        <port name="ListDocumentsPort" binding="tns:ListDocumentsPortBinding">
            <soap:address location="https://siaabh.cruzeirodosul.edu.br:443/wscertificacao/ListDocuments" />
        </port>
    </service>
</definitions>